<div class="user-details">
  <h2> Miles Thompson</h2>
  <p class="subhead">Technical Architect</p>

  <div class="left_block">
    <p>
      Developer, scrum master, startup founder, technical architect and former CTO of CreditSights Inc - the leading independent financial research provider in NYC.
    </p>
  
    <p>
      With 15+ Years experience on Wall street and 20+ years of stellar experience as a developer, team lead and technical architect, I am now pursuing independent contracts via my consultancy Goodbright Consulting.
    </p>
  </div>
  <div class="right_block">
     <h4>BSc Hons I, Math</h4>
     <p class="cert">
      University of Otago, 1995<br />
      First Class Honours, Mathematics.<br />
      <span class="cert_bsc cert_img"></span>
    </p>
     <h4>BA, Sociology</h4>
     <p class="cert">
      University of Canterbury, 1994<br />
      Bachelor of Arts<br />
      <span class="cert_ba cert_img"></span>
     </p>
     <h4>Certified Scrum Master</h4>
     <p class="cert">
      <span class="cert_scrum_master cert_img"></span>
     </p>
     <h4 class="spaced_under_empty_cert">Patent, 2001</h4>
     <p class="cert"> Co-inventor, medical collaborative filtering and cluster analysis system. <a href="https://patents.google.com/patent/US20030061072">https://patents.google.com/patent/US20030061072</a> 
     </p>
  </div>
</div>
