<div class="user-details">
  <h2> Miles Thompson</h2>
  <p class="subhead">Technical Architect</p>

  <div class="left_block">
    <p>
      Developer, scrum master, startup founder, technical architect and former CTO of CreditSights Inc - the leading independent financial research provider in NYC.
    </p>
  
    <p>
      With 15+ Years experience on Wall street and 20+ years of stellar experience as a developer, team lead and technical architect, I am now pursuing independent contracts via my consultancy Goodbright Consulting.
    </p>
  </div>
  <div class="right_block">
     <h4>BSc Hons I, Math</h4>
     <p class="cert">
      University of Otago, 1995<br />
      First Class Honours, Mathematics.<br />
      <span class="cert_bsc cert_img"></span>
    </p>
     <h4>BA, Sociology</h4>
     <p class="cert">
      University of Canterbury, 1994<br />
      Bachelor of Arts<br />
      <span class="cert_ba cert_img"></span>
    </p>
     <h4>Certified Scrum Master</h4>
     <p class="cert">
      <span class="cert_scrum_master cert_img"></span>
    </p>
  </div>
</div>
<div class="user-details">
    <h3>Skills</h3>
 
    <div class="left_block">
     
      <h4>Technical Leadership</h4>

       <p>
        As a Chief Technology Officer at CreditSights I built a team of eight solid developers and technology professionals. As certified scrum master I have been an advocate and practitioner of agile for many years. As founder of various non profit ventures I have experience with recruiting and motivating small teams on limited budgets. Overall, as technical and team lead I have delivered many successful technology projects from the both vendor and client side. My philosophy is that if you ensure there are crystal clear project objectives and well motivated and supported team members, project success comes easily. My references will attest to my many successes in this area.
      </p>

      <h4>Business Leadership</h4>
      <p>
        As an IT executive at CreditSights I also ensured all the critical systems needed in a fast growing, early stage company from accounting and CRM to BI, server infrastructure and desktop support across multiple offices. Over many years (even after stepping down from the CTO role) I had a strategic level input to our flagship financial products and frequently lead the teams that created many of the critical technology "points of difference" that make CreditSights a leader in its field. 
      </p>
      <p>
        In New Zealand I also learned to live the lean startup methodology and push social enterprise success through my roles as founder at Tradeify Ltd, Hashmapd Ltd and as project lead for the Autism 360 and GroundFacts non-profit projects. 
      </p>
      
      <h4>Papers and Awards</h4>
       <p>
        <b>Patent, 2001</b>, Listed as co-inventor for medical collaborative filtering and cluster analysis system<br/><a href="https://patents.google.com/patent/US20030061072">https://patents.google.com/patent/US20030061072</a> 
       </p>
       <p>
        <b>Academic paper, November 1995</b>:<br/><i>"A Neural Statistical Hybrid"</i>, International Association of Neural Networks and Expert Systems. Conference proceedings. Otago, NZ. 1995.
       </p>

  </div>
  <div class="right_block">

      <h4>C# / Microsoft.Net </h4>
      <!-- <i class="devicon-csharp-plain"></i></h4> -->
      <p>
        Apart from a few years in NYC I have stayed 'hands on' as an active programmer throughout my career. As a senior and experienced developer I understand everything C# pretty well - from the latest .Net Core API stack to the level of support for R within SQL Server (it needs work). In short, I know my reference types from my readonly structs and I can design a system where my async threads will happily 'await' their provision at scale. 
      </p>

      <h4>Data Science, Python, Machine learning</h4>
      <!--  <i class="devicon-python-plain-wordmark"></i></h4> -->
      <p>
        I have had a long standing interest in Machine Learning and have recently decided to focus all efforts into this area. I helped developed a production deep learning system in python back in 2014 (now available as open source, <a href="http://github.com/utunga/hashmapd">here</a>). Much more recently I have built pure python and python/Spark data processing pipelines for unstructured text and structured financial data. Machine learning and data science is the area I am trying to focus on for future development. 
      </p>

      <h4>Web</h4>
      <p>
        I started as a web developer and still have CSS, HTML in my programming blood. I have extensive, hands on experience with the JS/Node stack (and associated tools) but I have also delivered more than a few customized PHP/Wordpress themes for non profits or friends.  I am especially familiar with the Mean.JS (MongoDB, Express, Angular, Node) stack but I have also recently worked on a project delivering an API to a React front end. 
      </p>
      
      <h4>Cloud Infrastructure</h4>
      <p>
        I have developed and delivered solutions for both Azure and AWS including systems that scale across multiple machines for load balancing purpose. 
       </p>
    </div>

</div> 
