 <div class="user-details">
  <h2> Miles Thompson</h2>
  <p><i>Technical Architect </i></p>

  <p>Developer, scrum master, repeat founder, sometime artist, technical architect and former CTO of CreditSights Inc (the leading independent financial research provider in NYC).</p>

  <p>With 15+ Years experience on Wall street and 20+ years experience as a developer, team lead and technical architect, I am now pursuing independent contracts via my consultancy Goodbright Consulting.</p>


</div>
  <div class="user">
    <div class="tech">
      <h2>Coder</h2>
      <p><i class="devicon-csharp-plain"></i>
        <i class="devicon-python-plain-wordmark"></i>
        <i class="devicon-html5-plain-wordmark"></i>
        <br/>
        <i class="devicon-javascript-plain"></i>
        <i class="devicon-nodejs-plain-wordmark"></i>
        <i class="fa-database"></i>
      </p>

      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Team Lead</h2>
      <p>Scrum master, founder, leader.</p>
    </div>
    <div class="tech">
      <h2>Educated Sentient</h2>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
</div>
