<div>
  <h2>Art</h2>
</div>

<div class="user-projects first">
  <div class="images-right">
    <a target="_blank" href="{{ "/assets/pdf/exploring_art_entropy.pdf" | prepend: site.baseurl }}"><img alt="Great Outdoors Audience" src="{{ "/assets/img/go_outdoors_moon.png" | prepend: site.baseurl }}" />
    <img alt="Great Outdoors backstage" src="{{ "/assets/img/great_outdoors_backstage.png" | prepend: site.baseurl }}" />
  </a>
  </div>
  <div class="contents">
    <h3>The great outdoors: algorithmic theater</h3>
    <ul>
      <li>Text processing</li>
      <li>Machine learning</li>
      <li>Theater!</li>
    </ul> 
    <p>I recently created the text for Annie Dorsen's theater piece <b>The Great Outdoors</b> in collaboration with <a href="https://schwittlick.net">Marcel Schwittlick</a>. </p>
    <p>This work involved building a system to harvest text from recent comments on the internet, measure the textual entropy of that text, and select it out in various ways to fit the aesthetics of the piece. As a programmer it was a truly fascinating and wonderful experience to work in the theater. I wrote this up as a talk for a machine learning meetup, the slides of which are below. </p>
    <a class="project-link" target="_blank" style="width:250px" href="{{ "/assets/pdf/exploring_art_entropy.pdf" | prepend: site.baseurl }}">View slides from the talk</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <a target="_blank" href="https://twitter.com/GLITCHAUS/status/732453571422130176">
      <img alt="Glitchaus data knit" src="{{ "/assets/img/glitchhaus_knit.png" | prepend: site.baseurl }}" />
    </a>
  </div>
  <div class="contents-right">
    <h3>Glitchaus: Data knits</h3>
    <ul>
      <li>Data processing</li>
      <li>Glitch Art</li>
      <li>Fashion</li>
    </ul> 
    <p>I collaborated with <a href="http://notendo.com" target="_blank" >Jeff Donaldson</a>, one of the protagonists of the Glitch-Art movement and creator of the Glitchaus fashion brand on his data-knits project. I created a tool that he can use to take any binary and prepare it for physical projection into woven or knit textile form. Jeff used the program to prepare work for his <a href="http://www.btd-weimar.de/btd/shop/wear-en/glitchaus-dada-data-knit-ed-2/?lang=en">Bauhaus</a> collection amongst others.</p>
    <a class="project-link" target="_blank" style="width:300px" href="https://twitter.com/GLITCHAUS/status/732453571422130176">Check out @glitchaus on twitter.</a>
  </div>
</div>