<div>
  <h2>2018 Projects </h2>
</div>
<div class="user-projects first">
  <div class="images-left">
    
    <iframe src="https://tehiku.nz/embed/4801" style="padding:0px; margin:0px; border:0px;" width="462" height="260" frameborder="0" allowfullscreen ></iframe>
  
    <a class="project-link" target="_blank" href="http://dev.koreromaori.io">Check it out</a>

  </div>
  <div class="contents-right">
    <h3>Kōrero Māori</h3>
    <ul>
      <li>Automated Speech Recognition</li>
      <li>Deep learning / machine learning</li>
    </ul> 
    <p>Working with iwi group <a href="https://tehiku.nz/te-reo/korero-maori/6094/te-kaupapa-o-korero-maori">TeHiku.NZ</a> I led the machine learning effort to train models and build an API for the world's most accurate automated speech recognition (ASR) system for Te Reo Māori. When this system was presented at language conferences in Oxford and Cambridge in 2018, senior developers from Mozilla described themselves as "shocked and amazed" at the high accuracy of our model. Te Hiku's app using their model is available at <a href="https://koreromaori.com/">KōreroMāori.com</a></p>
    <p>I am delighted to report that my work with Te Hiku continues into the new year.</p>
  </div>
</div>


<div class="user-projects">
  <div class="images-left">
      <iframe class="embed-responsive-item" style="padding:0px; margin:0px; border:0px;" width="462" height="260" frameborder="0" src="https://www.youtube.com/embed/sKrLMIzn0Ek" allowfullscreen=""></iframe>
  </div>
  <div class="contents-right">
    <h3>Deep PBR</h3>
    <ul>
      <li>Machine Learning/AI</li>
      <li>VR/AI</li>
    </ul>
    <p>Working with the VR pioneers at <a href="http://realityVirtual.co">realityVirtual</a> I designed, trained and deployed a new machine learning pipeline and API for creating virtual reality assets (displacement maps, normals and the like) from regular SLR photographs. As of early 2019 this project has recently secured significant interest from multiple investors.</p>
    <a class="project-link" target="_blank" href="http://deeppbr.ai/">Check out the alpha.</a>
  </div>
</div>


<div class="user-projects">
  <div class="images-left">
     <a href="http://leapbox.wtf"><img alt="Leapbox.WTF" src="{{ "/assets/img/leapbox_wtf.jpg" | prepend: site.baseurl }}" /></a>
  </div>
  <div class="contents-right">
    <h3>Leap Box</h3>
    <ul>
      <li>Lean startup</li>
      <li>Kickstarter</li>
      <li>Mechatronics</li>
      <li>Smart Contracts</li>
      <li>Design</li>
    </ul>
    <p>Leapbox is a lock box controlled by a customizable smart contract or app. I'm acting as co-inventor, founder, scrum master and server developer on this team.</p>
    <a class="project-link" target="_blank" href="http://leapbox.wtf/">We are looking to kickstarter in 2019</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <a href="http://paekakariki.nz"><img alt="Paeakakariki NZ" class="pae_image" src="{{ "/assets/img/pae_layers.jpg" | prepend: site.baseurl }}" /></a>
  </div>
  <div class="contents-right">
    <h3>Paekākāriki Online</h3>
    <ul>
      <li>Web design</li>
      <li>Project leadership</li>    
      <li>Wordpress, CSS, HTML, SCSS, PHP, Custom Theme, Custom Plugins</li>    
    </ul>
    <p>Working with local community groups I coordinated and built a website to represent the community where I live, Paekakariki.NZ. Services directory, calendar, radio station, forums etc, with photo essays and content front and center.</p>
    <p>A love letter to the town in which I live and collaboration with <a href="https://www.catherineadam.co.nz/design">Catherine Adam Design</a> amongst many others.
    <a class="project-link" target="_blank" href="http://paekakariki.nz/">Check it out</a>
  </p>
  </div>
</div>
