<div>
  <h2>2018 Achievements </h2>
</div>


<div class="user-projects first">
 <div class="images-left">
     <img alt="Leapbox.WTF" class="zoom" src="{{ "/assets/img/network_tree.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Research and development for undisclosed client</h3>
    <ul>
      <li>Bayesian modeling</li>
      <li>Machine learning</li>
      <li>Distributed systems</li>
    </ul> 
    <p>Research and development into resilient coordination protocols in distributed, unreliable environments.</p>
    <p>(Ongoing)</p>
  </div>
</div>

<div class="user-projects">

  <div class="contents-right">
    <h3>Kōrero Māori</h3>
    <ul>
      <li>Deep learning / machine learning</li>
      <li>Python, Tensorflow, AWS</li>
    </ul> 
    <p>Working with iwi group <a href="https://tehiku.nz/te-reo/korero-maori/6094/te-kaupapa-o-korero-maori">TeHiku.NZ</a> I led the machine learning effort to train models and build an API for the world's most accurate automated speech recognition (ASR) system for Te Reo Māori. When presented at language conferences in Oxford and Cambridge senior developers from Mozilla described themselves as "shocked and amazed" at the high accuracy of our model.</p>
    <p>(Ongoing)</p>
  </div>
  <div class="images-left">
    
    <iframe src="https://tehiku.nz/embed/4801" style="padding:0px; margin:0px; border:0px;" width="462" height="260" frameborder="0" allowfullscreen ></iframe>
  
    <a class="project-link" target="_blank" href="http://koreromaori.io">Visit KoreroMāori.io</a>
  </div>
</div>


<div class="user-projects">
  <div class="images-left">
     <a href="http://leapbox.wtf"><img alt="Leapbox.WTF" src="{{ "/assets/img/leapbox_wtf.jpg" | prepend: site.baseurl }}" class="zoom" /></a>
     <a class="project-link" target="_blank" href="http://leapbox.wtf/">Visit Leapbox.wtf</a>
  </div>
  <div class="contents-right">
    <h3>Leap Box</h3>
    <ul>
      <li>Mechatronics</li>
      <li>Smart Contracts</li>
      <li>Design</li>
    </ul>
    <p>Leapbox is a lock box controlled by a customizable smart contract or app. I'm acting as co-inventor, co-founder, scrum master and developer on this team.</p>
    <p>We will be launching our Kickstarer in 2019.</p>
  </div>
</div>


<div class="user-projects">

  <div class="contents-right">
    <h3>Deep PBR</h3>
    <ul>
      <li>Machine Learning</li>
      <li>VR/AR</li>
      <li>Python, Tensorflow, AWS</li>
    </ul>
    <p>Working with the VR pioneers at <a href="http://realityVirtual.co">RealityVirtual</a> I designed, trained and deployed a new machine learning pipeline and API for creating virtual reality assets (displacement maps, normals and the like) from regular SLR photographs.</p>
    <p>As of early 2019 this project has secured significant interest from multiple investors.</p>
  </div>
  <div class="images-left">
      <iframe class="embed-responsive-item" style="padding:0px; margin:0px; border:0px;" width="462" height="260" frameborder="0" src="https://www.youtube.com/embed/sKrLMIzn0Ek" allowfullscreen=""></iframe>
      <a class="project-link" target="_blank" href="http://deeppbr.ai/">Visit DeepPBR.ai</a>
  </div>
</div>

<div class="user-projects">

  <div class="contents-right">
    <h3>Paekākāriki Online</h3>
    <ul>
      <li>Web design</li>
      <li>Project leadership</li>    
      <li>CSS, HTML, SCSS, PHP, Custom WordpressTheme and Plugins</li>    
    </ul>
    <p>Working with local community groups I helped coordinate and was the primary developer for a website to represent the community where I live - Paekākāriki, NZ. This features a services directory, calendar, radio station, forums and information for tourists as well as photo essays and other content front and center.</p>
    <p>A love letter to the town in which I live, produced in collaboration with Mark Amery,  Holly Jane Ewens, <a href="https://www.catherineadam.co.nz/design">Catherine Adam Design</a> and many, many others.
    <a class="project-link" target="_blank" href="http://paekakariki.nz/">Visit Paekākāriki.NZ</a>
  </p>
  </div>
  <div class="images-left">
    <a href="http://paekakariki.nz"><img class="zoom" alt="Paeakakariki NZ" class="pae_image" src="{{ "/assets/img/pae_layers.jpg" | prepend: site.baseurl }}" /></a>
  </div>
</div>
