<div>
  <h2>Active Projects </h2>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="dramabox" src="{{ "/assets/img/drama_box.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Drama Box </h3>
    <ul>
      <li>Crypto</li>
      <li>Lean startup</li>
    </ul>
    <p>Currently in early stages of customer development and product validation, drama box is a lock box controlled by a customizable smart contract or app.</p>
    <a class="project-link" target="_blank" href="http://dramabox.webflow.io">Check it out</a>
  </div>
</div>
</div>
