<div>
  <h2>Resume</h2>
</div>
<div>	
<!-- 	<div class="resume-link">
		<a href="assets/pdf/Miles_Thompson_one_page_resume.png" target="_blank"><i class="fa fa-file-pdf-o"></i> Quick One Page Resume</a> 
	</div>
 -->
    <div class="resume-link">
        <a href="assets/pdf/Miles_Thompson_One_Pager.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i>One pager</a> 
 	</div>

    <div class="resume-link">
        <a href="assets/pdf/Miles_Thompson_CV.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i>Longer form CV</a> 
    </div>

	<div class="resume">
		<a href="https://www.linkedin.com/in/milesthompson" class="project-link" target="_blank"> My LinkedIn profile &gt; &gt; </a>
	</div>

</div>
