<div class="user-details">
    <h3>Skills</h3>
 
    <div class="left_block">
     
      <h4>Technical Leadership</h4>

       <p>
        As technical and team lead I have delivered many successful technology projects from the both vendor and client side. As Chief Technology Officer at CreditSights I built an effective team of  developers and technology professionals. And as a scrum master or technical lead I have been an advocate and practitioner of agile for many years. As a founder of various non profit ventures I have experience with recruiting and motivating small teams on limited budgets. Whether vendor or client my philosophy is to you ensure there is a crystal clear overall vision and well motivated and supported team members, who communicate well and are given space to develop to the best of their abilities. If you get these fundamentals right, project success comes much more easily. My references will attest to my significant successes in this area.
      </p>

      <h4>Business Leadership</h4>
      <p>
      </p>
      <p>
        In New Zealand I experienced the lean startup methodology close up. I have good, on the ground experience of building small teams towards success, even in a social enterprise context. The successes in my roles as founder at Tradeify Ltd, Hashmapd Ltd and as project lead for the Autism 360 and GroundFacts non-profit projects attest to this. 
      </p>
      
  </div>
  <div class="right_block">

      <h4>C# / Microsoft.Net developer </h4>
      <!-- <i class="devicon-csharp-plain"></i></h4> -->
      <p>
       I have stayed 'hands on' as an active programmer throughout my career, and had the opportunity to focus much more on these areas after returning to New Zealand to work remotely. As a senior and experienced developer I understand everything C# pretty well - from the latest .Net Core API stack to knowing the level of support for R within the next version of SQL Server (it needs work). In short I know my reference types from my readonly structs and I can design and build a system where your async threads will patiently await the fulfilment of their promises to allow high performance computation and scalability.
      </p>

      <h4>Data Science, Python, Machine learning</h4>
      <!--  <i class="devicon-python-plain-wordmark"></i></h4> -->
      <p>
      </p>

      <h4>Web</h4>
      <p>
      </p>
      
      <h4>Cloud Infrastructure</h4>
      <p>
       </p>
    </div>

</div> 
