#about {
  width: 90%;
  margin: 0 auto;
  max-width: 960px;
  @media only screen and (min-width: $cut) {
    width: 80%;
  }
  h4 {
    padding-top: 0;
  }
}

.tech {
  margin: 10px;
}

.left_block, .right_block {
  min-width: 300px;
  
}

.left_block {
  @media only screen and (min-width: $cut) {
    width: 46%;
    float: left;
  }
}

.right_block {
  @media only screen and (min-width: $cut) {
    width: 46%;
    float: right;
  }
}

.subhead {
    font-family: 'Cardo',serif;
    margin-top: -30px;
    padding-top: 0;
    font-style: italic;
    font-size: 1.2em;
}

.user-details {
  clear: both;
  margin: 5px auto;
}

.cert {
  position: relative;
  font-family: 'Cardo',serif;
  margin-top: -1em;
  padding-top: 0;
  font-style: italic;
}
.cert_img{
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  top: -1.5em;
  right: 0px;
}

.cert_bsc {
  background-image: url("../img/canterbury.png");
}
.cert_ba {
  background-image: url("../img/otago.png");
}
.cert_scrum_master {
  background-image: url("../img/csm.png");
}
/*
.user {
  text-align: center;
  font-size: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  p {
    font-size: 16px;
  }
  @media only screen and (min-width: $cut) {
    flex-wrap: nowrap;
    font-size: 75px;
  }
}


*/