<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
      {% include header.html %}
      <section id="about">
        {% include about.html %}
      </section>
      <section class="project_section" id="projects_2018">
        {% include projects_2018.html %}
      </section>
      <section class="project_section" id="projects_art">
        {% include projects_art.html %}
      </section>
      <section class="project_section" id="skills">
        {% include skills.html %}
      </section> 
      <section id="resume">
        {% include resume.html %}
      </section>
        {{ content }}
      {% include footer.html %}
  </body>
